body {
    background-color: #333333;
}


/*Both Main Images*/

#leftImage,
#rightImage {
    -webkit-filter: brightness(33%);
    transition: -webkit-filter 0.5s;
    transition-timing-function: ease-in;
    display: inline-block;
    z-index: 1;
}

#leftImage {
    float: left;
    width: 50%;
}

#rightImage {
    float: left;
    width: 50%;
}

#leftImage:hover {
    -webkit-filter: brightness(100%);
}

#rightImage:hover {
    -webkit-filter: brightness(100%);
}


/* Main Logo */

#headerLogo {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 35%;
    z-index: 2;
}


/*Opening Page*/

#openingPage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.textAbovePerfectButton {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Comfortaa';
    font-size: 14px;
}

#perfectButton {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-family: 'Comfortaa';
    font-size: 16px;
    transition: font-size 0.25s;
}

#perfectButton:hover {
    font-size: 22px;
    transition-timing-function: ease-in;
}


/*Form Style*/

.formText {
    color: white;
    display: inline-block;
}

#movieEventHolder {
	background-color: blue;
	color: white;
	width: 400px;
	height: 400px;
}

#mapHolder {
	background-color: red;
	color: white;
	width: 500px;
	height: 400px;
}

.mainContainer {
	margin-right: 8%;
	margin-left: 8%;
	margin-top: 1%;
	margin-bottom: 2%;
}

#footer {
	background-color: green;
	width: 100%;
	height: 100px;
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
}

