    /* Media Queries */

@media only screen and (max-width: 414px) {
    /*Opening Page*/
    #eventImage {
        z-index: 3;
    }
    #headerLogo {
        width: 200px;
    }
    .textAbovePerfectButton {
        z-index: 4;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 60%;
    }
    #perfectButton {
        left: 50%;
        top: 55%;
    }
    #movieImage,
    #eventImage {
        display: inline-block;
        z-index: 1;
        -webkit-filter: brightness(80%);
        height: 736px;
    }
    #movieImage:hover {
        -webkit-filter: none;
        z-index: 2;
    }
    #eventImage:hover {
        -webkit-filter: none;
        z-index: 2;
    }
    .footer {
        width: 320px;
    }
    #mapHolder {
        width: 230px;
        margin: 5;
    }
    #movieEventHolder {
        width: 230px;
    }

    #food {
        margin-left: 15%;
        width: 300px;
    }

    .searchCriteria {
        margin-top: 0;
        margin-left: 12%;
    }

    .searchContainer {
        margin-top: 2%;
    }
    /*#movieImage {
        left: 0;
        width: 50%;
    }
    #eventImage {
        left:50%;
        width: 50%
        top:0;
        bottom: 0;
    }
    main page
    #mapHolder{
        height: 200px;
        width: 400px;
    }
    #movieEventHolder {
        height: 200px;
        width: 400px;
    }
}*/
