/* Media Queries */

/*iPhone*/
@media screen and (max-width: 640px)  {
	/*Opening Page*/
	#movieImage {
		left: 0;
		width: 50%;
		height: 960px;
	}

	#eventImage {
		left:50%;
		width: 50%
		top:0;
		bottom: 0;
	}


	/*main page*/
	#mapHolder{
		height: 200px;
		width: 400px;
	}

	#movieEventHolder {
		height: 200px;
		width: 400px;
	}


}
