body {
    background-color: #333333;
    color: white;
}

/*Both Main Images*/
#leftImage,
#rightImage {
    -webkit-filter: brightness(33%);
    transition: -webkit-filter 0.5s;
    transition-timing-function: ease-in;
    display: inline-block;
}

#leftImage {
    float: left;
    width: 50%;
}

#rightImage {
    float: left;
    width: 50%;
}

#leftImage:hover {
    -webkit-filter: brightness(100%);
}

#rightImage:hover {
    -webkit-filter: brightness(100%);
}

/* Main Logo */
#headerLogo {
    width: 150px;
    margin: 0 auto;
}
